## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [10]:
a = 11
print(a)

11

2) Imprimir el tipo de dato de la constante 8.5

In [11]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [12]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [13]:
name = "santi"

5) Crear una variable que contenga un número complejo

In [14]:
complex = 8456.123

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [15]:
print(type(8456.123))

<class 'float'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [16]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
valor = "True"
balor = Tru

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(type(valor))
print(type(balor))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [4]:
a = 5.2 + 4

11) Realizar una operación de suma de números complejos

In [2]:
a = 3 + 1j
b = 1 + 3j
print(a + b)

(4+4j)

12) Realizar una operación de suma de un número real y otro complejo

In [1]:
c = a + 1.61
print(c)

NameError: name 'a' is not defined

13) Realizar una operación de multiplicación

In [ ]:
print(3 * 2)

14) Mostrar el resultado de elevar 2 a la octava potencia

In [5]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [6]:
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [7]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [8]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [9]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [10]:
var1 = 'Buenos '
var2 = 'Aires'
print(var1 + var2)

Buenos Aires

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [11]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [12]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [13]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [14]:
a = -3
a -= 1
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [15]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [16]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [17]:
float(2) + float('2')

4.0